/* GLOBAL CSS ELEMENT
body, a, ul, li, p
*/
body{
  font-family: 'Inter', sans-serif;
}

a{
  text-decoration: none;
}

p{
  margin-bottom: 0;
}

ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

ul li{
  margin-bottom: 0.25rem;
}

/* Buttons */
.btn{
  color: black;
  font-weight: 600;
  font-size: 0.8125rem;
}

.btn:hover{
  color: #ffffff;
}

/* Konten */
/* Navbar Menu */
.navbar-brand{
  width: 60px;
  height: auto;
}

.navbar-title{
  font-size: 0.8125rem;
}

.dropdown-item:hover{
  background-color: #FFC107;
  color: #ffffff;
}

#navbarDropdown{
  font-size: 1rem;
}

/* Footer */
.right-footer{
  border-left: 3px solid black;
}

/* Footer Link Hover, After dan Transform */
.link{
  position: relative;
}

.link:hover{
  color: #ffffff !important;
}

.link:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #ffffff;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.link:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/* Border Footer */
.border-line{
  border-top: 2px solid black;
}

/* Social Media Icon Hover, Transition, dan Transform */
.social-text{
  font-size: 1.25rem;
}

.social-icon {
  height: auto;
  width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 1.5rem;
}

.social-icon i {
  transition: 0.4s all;
}

.social-icon:hover i {
  transform: scale(1.4);
}

.social-youtube{
  color: #FF0000;
}

.social-instagram{
  color: #E1306C;
}

.social-twitter{
  color: #00ACEE;
}

/* Berita Hero */
.hero-responsive{
  margin: 2rem 0;
  display: block;
}

.hero-normal{
  margin: 2rem 0;
  display: none;
}

.berita-hero {
  border-top-left-radius: 250px;
  border-bottom-left-radius: 250px;
}

.tag-link {
  text-decoration: none;
  margin-right: 30px;
  color: #152536;
}

.tag-link:hover {
  color: black;
}

.row-berita {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
}

.keterangan-card {
  display: flex;
  flex-direction: row;
}

.news-card {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 15px;
}


/* Bootstrap Breakpoints antara >576px */
/* Kode prefix sm */
@media only screen and (min-width: 576px){
  .navbar-title{
      font-size: 0.9rem;
  }
  
  #navbarDropdown{
      font-size: 14px;
  }
}


/* Bootstrap Breakpoints antara >768px */
/* Kode prefix md */
@media only screen and (min-width: 767px){
  /* Responsive Tablet dan PC Judul */
  .title{
    font-size: 1.125rem!important;;
  }

  /* Responsive Tablet dan PC Text Content */
  .text-content{
    font-size: 0.75rem!important;
  }

  /* Responsive Hero */
  .hero-responsive{
    display: none;
  }

  .hero-normal{
    display: flex;
  }
  
  /* Responsive Footer */
  .border-line{
      border-top: none;
  }

  .footer-menu{
      font-size: 1.2rem !important;
  }

  .link{
      font-size: 0.95rem;
  }

  .footer-border{
      border-right: 2px solid black;
  }
}

@media only screen and (min-width: 850px){
  /* Responsive Tablet dan PC Judul */
  .title{
    font-size: 1.5rem!important;;
  }

  /* Responsive Tablet dan PC Text Content */
  .text-content{
    font-size: 1rem!important;
  }
}


/* Bootstrap Breakpoints antara >991px */
/* Kode prefix lg */
@media only screen and (min-width: 992px){
  /* Responsive Tablet dan PC Navbar Menu Font Size */
  #navbarDropdown{
      font-size: 1rem;
  }

  /* Responsive Tablet dan PC Button */
  .btn{
      font-size: 1rem;
  }

  /* Responsive Tablet dan PC Border Line */
  .border-line{
      border-top: none;
  }

  /* Responsive Tablet dan PC Footer Border */
  .footer-border{
      border-right: 2px solid black;
  }

  /* Responsive Tablet dan PC Social Media Text */
  .social-text{
      font-size: 1rem;
  }
}

@media only screen and (min-width: 1100px){
  /* Responsive Tablet dan PC Judul */
  .title{
    font-size: 2rem!important;;
  }

  /* Responsive Tablet dan PC Text Content */
  .text-content{
    font-size: 1.25rem!important;
  }
}