/* GLOBAL CSS ELEMENT
body, a, ul, li, p
*/
body{
  font-family: 'Inter', sans-serif;
}

a, a:hover{
  text-decoration: none;
  color: #000000;
}

p{
  margin-bottom: 0;
}

ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

ul li{
  margin-bottom: 0.25rem;
}

/* Buttons */
.btn{
  color: black;
  font-weight: 600;
  font-size: 0.8125rem;
}

.btn:hover{
  color: #ffffff;
}

/* Konten */
/* Navbar Menu */
.navbar-brand{
  width: 60px;
  height: auto;
}

.navbar-title{
  font-size: 0.8125rem;
}

.dropdown-item:hover{
  background-color: #FFC107;
  color: #ffffff;
}

#navbarDropdown{
  font-size: 1rem;
}

/* Footer Link Hover, After dan Transform */
.link{
  position: relative;
}

.link:hover{
  color: #ffffff !important;
}

.link:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #ffffff;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.link:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/* Border Footer */
.border-line{
  border-top: 2px solid black;
}

/* Social Media Icon Hover, Transition, dan Transform */
.social-text{
  font-size: 1.25rem;
}

.social-icon {
  height: auto;
  width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 1.5rem;
}

.social-icon i {
  transition: 0.4s all;
}

.social-icon:hover i {
  transform: scale(1.4);
}

.social-youtube{
  color: #FF0000;
}

.social-instagram{
  color: #E1306C;
}

.social-twitter{
  color: #00ACEE;
}

/* Bootstrap Breakpoints antara >576px */
/* Kode prefix sm */
@media only screen and (min-width: 576px){
  .navbar-title{
      font-size: 0.9rem;
  }
  
  #navbarDropdown{
      font-size: 14px;
  }
  
  .hero-text{
      order: 1;
  }
  
  .hero-img{
      order: 2;
  }
}

/* Bootstrap Breakpoints antara >768px */
/* Kode prefix md */
@media only screen and (min-width: 767px){
  .border-line{
      border-top: none;
  }

  .footer-menu{
      font-size: 1.2rem !important;
  }

  .link{
      font-size: 0.95rem;
  }

  .footer-border{
      border-right: 2px solid black;
  }
}

/* Bootstrap Breakpoints antara >768px */
/* Kode prefix lg */
@media only screen and (min-width: 992px){
  #navbarDropdown{
      font-size: 1rem;
  }
  
  .title{
      font-size: 2.5rem!important;;
  }

  .text-content{
      font-size: 1.25rem!important;
  }
  
  .btn{
      font-size: 1rem;
  }

  .border-line{
      border-top: none;
  }

  .footer-border{
      border-right: 2px solid black;
  }
  
  .social-text{
      font-size: 1rem;
  }
}