body{
    font-family: 'Inter', sans-serif;
}

.container-fluid{
    width: 80%;
}

p{
    margin-bottom: 0.5rem;
}

.logo-setjen{
    margin-right: 0.5rem;
}

.card-kontak{
    border-radius: 1rem;
    border: none;
    background-color:#F9EDDC
    ;
}

.right-footer{
    border-left: 3px solid black;
}

.social-media{
    align-self: center;
    margin-left: 20px;
}
