/* GLOBAL CSS ELEMENT
body, a, ul, li, p
*/
body {
  font-family: "Inter", sans-serif;
}

a {
  text-decoration: none;
}

p {
  margin-bottom: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul li {
  margin-bottom: 0.25rem;
}

/* Buttons */
.btn {
  color: black;
  font-weight: 600;
  font-size: 0.8125rem;
}

.btn:hover {
  color: #ffffff;
}

/* Konten */
/* Navbar Menu */
.navbar-brand {
  width: 60px;
  height: auto;
}

.navbar-title {
  font-size: 0.8125rem;
}

.dropdown-item:hover {
  background-color: #ffc107;
  color: #ffffff;
}

#navbarDropdown {
  font-size: 1rem;
}
/* feedback */
.panel-container {
  background-color: #f9eddc;
  border-color: #ffc107;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0);
  border-radius: 15px;
  font-size: 90%;
  display: flex;
  flex-direction: column;
  /* justify-content: center;
  align-items: center; */
  text-align: center;
  padding: 30px;
  /* max-width: 400px; */
  color: #000;
  margin: 10% auto 2% auto;
}

.panel-container strong {
  line-height: 20px;
}

.ratings-container {
  display: flex;
  margin: 20px 0;
}

.rating {
  flex: 1;
  cursor: pointer;
  padding: 20px;
  margin: 10px 5px;
}
.card {
  border-radius: 15px;
}
.rating:hover,
.rating.active {
  /* background-color: #f9eddc; */
  border: 2px solid rgb(0, 0, 0);
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.rating small {
  color: #000;
  display: inline-block;
  margin: 10px 0 0;
}

.rating:hover small,
.rating.active small {
  color: #ffc107;
}

.btn {
  background-color: #ffc107;
  color: #000;
  border: 0;
  border-radius: 4px;
  padding: 12px 30px;
  cursor: pointer;
}

.btn:focus {
  outline: 1;
}

.btn:active {
  transform: scale(0.98);
}

/*end of feedback  */

/* Footer */
.right-footer {
  border-left: 3px solid black;
}

/* Footer Link Hover, After dan Transform */
.link {
  position: relative;
}

.link:hover {
  color: #ffffff !important;
}

.link:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #ffffff;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.link:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/* Border Footer */
.border-line {
  border-top: 2px solid black;
}

/* Social Media Icon Hover, Transition, dan Transform */
.social-text {
  font-size: 1.25rem;
}

.social-icon {
  height: auto;
  width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 1.5rem;
}

.social-icon i {
  transition: 0.4s all;
}

.social-icon:hover i {
  transform: scale(1.4);
}

.social-youtube {
  color: #ff0000;
}

.social-instagram {
  color: #e1306c;
}

.social-facebook {
  color: #4267b2;
}

/* Bootstrap Breakpoints antara >576px */
/* Kode prefix sm */
@media only screen and (min-width: 576px) {
  .navbar-title {
    font-size: 0.9rem;
  }

  #navbarDropdown {
    font-size: 14px;
  }
}

/* Bootstrap Breakpoints antara >768px */
/* Kode prefix md */
@media only screen and (min-width: 769px) {
  .border-line {
    border-top: none;
  }

  .footer-menu {
    font-size: 1.2rem !important;
  }

  .link {
    font-size: 0.95rem;
  }

  .footer-border {
    border-right: 2px solid black;
  }
}

/* Bootstrap Breakpoints antara >992px */
/* Kode prefix lg */
@media only screen and (min-width: 992px) {
  /* Responsive Tablet dan PC Navbar Menu Font Size */
  #navbarDropdown {
    font-size: 1rem;
  }

  /* Responsive Tablet dan PC Button */
  .btn {
    font-size: 1rem;
  }

  /* Responsive Tablet dan PC Judul */
  .title {
    font-size: 2.5rem !important;
  }

  /* Responsive Tablet dan PC Text Content */
  .text-content {
    font-size: 1.25rem !important;
  }

  /* Responsive Tablet dan PC Border Line */
  .border-line {
    border-top: none;
  }

  /* Responsive Tablet dan PC Footer Border */
  .footer-border {
    border-right: 2px solid black;
  }

  /* Responsive Tablet dan PC Social Media Text */
  .social-text {
    font-size: 1rem;
  }
}
