/* GLOBAL CSS ELEMENT
body, a, ul, li, p
*/
body {
  font-family: "Inter", sans-serif;
  /* margin: 0;
  padding: 0; */
  /* line-height: 1.5; */
}
a{
  text-decoration: none;
}

p{
  margin-bottom: 0;
}

ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

ul li{
  margin-bottom: 0.25rem;
}

/* Buttons */
.btn{
  color: black;
  font-weight: 600;
  font-size: 0.8125rem;
}

.btn:hover{
  color: #ffffff;
}

/* Konten */
/* Navbar Menu */
.navbar-brand{
  width: 60px;
  height: auto;
}

.navbar-title{
  font-size: 0.8125rem;
}

.dropdown-item:hover{
  background-color: #FFC107;
  color: #ffffff;
}

#navbarDropdown{
  font-size: 1rem;
}

/* Konten Container1 */
.container1 {
  padding: 2rem;
  padding-bottom: 100px;
  margin: 0 auto;
  max-width: 1000px;
}
.top-section {
  text-align: center;
  padding: 4rem 0;
  max-width: 600px;
  margin: 0 auto;
}

.timeline {
  position: relative;
  min-height: 150px;
}
.line {
  position: absolute;
  z-index: 2;
  left: calc(50% - 1px);
  width: 2px;
  top: -50px;
  bottom: -50px;
  background-color: #ffc107;
  display: none;
}
.line:before,
.line:after {
  position: absolute;
  display: block;
  content: "";
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  background-color: #ffc107;
  left: 50%;
  transform: translateX(-50%);
}
.line:after {
  bottom: 0;
}
.section {
  display: flex;
  opacity: 0;
  transform: translateX(-100%);
  transition: 600ms ease;
  position: relative;
  z-index: 1;
  margin: 50px 0;
  padding: 1rem;
  border-radius: 1rem;
  align-items: center;
  min-height: 300px;
}
.section:nth-child(odd) {
  flex-direction: row-reverse;
  transform: translateX(100%);
}
.bead {
  position: absolute;
  display: block;
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  background-color: #ffc107;
  left: 50%;
  top: 20%;
  transform: translateX(-50%);
}
.content {
  width: calc(50% - 2rem);
}
.show-me:nth-child(n) {
  transform: none;
  opacity: 1;
}
.h1 {
  font-weight: 400;
  letter-spacing: 1px;
}
.berita-hero {
  border-top-left-radius: 250px;
  border-bottom-left-radius: 250px;
}
.card-tugas {
  border-radius: 0.5rem;
}

/* Footer */
.right-footer{
  border-left: 3px solid black;
}

/* Footer Link Hover, After dan Transform */
.link{
  position: relative;
}

.link:hover{
  color: #ffffff !important;
}

.link:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #ffffff;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.link:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/* Border Footer */
.border-line{
  border-top: 2px solid black;
}

/* Social Media Icon Hover, Transition, dan Transform */
.social-text{
  font-size: 1.25rem;
}

.social-icon {
  height: auto;
  width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 1.5rem;
}

.social-icon i {
  transition: 0.4s all;
}

.social-icon:hover i {
  transform: scale(1.4);
}

.social-youtube{
  color: #FF0000;
}

.social-instagram{
  color: #E1306C;
}

.social-facebook{
  color: #4267B2;
}


/* Bootstrap Breakpoints antara >576px */
/* Kode prefix sm */
@media only screen and (min-width: 576px){
  .navbar-title{
      font-size: 0.9rem;
  }
  
  #navbarDropdown{
      font-size: 14px;
  }
}

/* Bootstrap Breakpoints antara >768px */
/* Kode prefix md */
@media only screen and (min-width: 769px){
  .border-line{
      border-top: none;
  }

  .footer-menu{
      font-size: 1.2rem !important;
  }

  .link{
      font-size: 0.95rem;
  }

  .footer-border{
      border-right: 2px solid black;
  }
}

/* Bootstrap Breakpoints antara >992px */
/* Kode prefix lg */
@media only screen and (min-width: 992px){
  /* Responsive Tablet dan PC Navbar Menu Font Size */
  #navbarDropdown{
      font-size: 1rem;
  }

  /* Responsive Tablet dan PC Button */
  .btn{
      font-size: 1rem;
  }

  /* Responsive Tablet dan PC Judul */
  .title{
      font-size: 2.5rem!important;;
  }

  /* Responsive Tablet dan PC Text Content */
  .text-content{
      font-size: 1.25rem!important;
  }

  /* Responsive Tablet dan PC Border Line */
  .border-line{
      border-top: none;
  }

  /* Responsive Tablet dan PC Footer Border */
  .footer-border{
      border-right: 2px solid black;
  }

  /* Responsive Tablet dan PC Social Media Text */
  .social-text{
      font-size: 1rem;
  }
}