/* GLOBAL CSS ELEMENT
body, a, ul, li, p
*/
body{
    font-family: 'Inter', sans-serif;
}

a{
    text-decoration: none;
}

p{
    margin-bottom: 0;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

ul li{
    margin-bottom: 0.25rem;
}

/* Buttons */
.btn{
    color: black;
    font-weight: 600;
    font-size: 0.8125rem;
}

.btn:hover{
    color: #ffffff;
}

/* Konten */
/* Navbar Menu */
.navbar-brand{
    width: 60px;
    height: auto;
}

.navbar-title{
    font-size: 0.8125rem;
}

.dropdown-item:hover{
    background-color: #FFC107;
    color: #ffffff;
}

#navbarDropdown{
    font-size: 1rem;
}

/* WBS */
/* Warna Background di Konten Statistik */
.wbs-data{
    background-color: #FFC107;
}

/* Timeline Alur Pengaduan */
.timeline-steps {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.timeline-steps .timeline-step {
    align-items: center;
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 1rem;
}

.timeline-steps .timeline-content {
    width: 10rem;
    text-align: center
}

/* Object lingkaran */
.timeline-steps .timeline-content .inner-circle {
    border-radius: 1.5rem;
    height: 1rem;
    width: 1rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.timeline-steps .timeline-content .inner-circle:before {
    content: "";
    background-color: #FFC107;
    display: inline-block;
    height: 4rem;
    width: 4rem;
    min-width: 4rem;
    border-radius: 6.25rem;
}

/* Icon didalam lingkaran Hover dan Transform */
.inner-circle > .bi{
    position: absolute;
}

.inner-circle{
    transition: 0.4s all;
}

.inner-circle:hover{
    transform: scale(1.3);
}

/* Footer */
.right-footer{
    border-left: 3px solid black;
}

/* Footer Link Hover, After dan Transform */
.link{
    position: relative;
}

.link:hover{
    color: #ffffff !important;
}

.link:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #ffffff;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
  
.link:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

/* Border Footer */
.border-line{
    border-top: 2px solid black;
}

/* Social Media Icon Hover, Transition, dan Transform */
.social-text{
    font-size: 1.25rem;
}

.social-icon {
    height: auto;
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 1.5rem;
}

.social-icon i {
    transition: 0.4s all;
}

.social-icon:hover i {
    transform: scale(1.4);
}

.social-youtube{
    color: #FF0000;
}

.social-instagram{
    color: #E1306C;
}

.social-facebook{
    color: #4267B2;
}



/* Bootstrap Breakpoints antara >576px */
/* Kode prefix sm */
@media only screen and (min-width: 576px){
    .navbar-title{
        font-size: 0.9rem;
    }
    
    #navbarDropdown{
        font-size: 14px;
    }
}



/* Bootstrap Breakpoints antara >768px */
/* Kode prefix md */
@media only screen and (min-width: 769px){
    /* Responsive Tablet Timeline */
    .timeline-steps .timeline-step:not(:last-child):after {
        content: "";
        display: block;
        border-top: .25rem solid #FFC107;
        width: 3.46rem;
        position: absolute;
        left: 7.5rem;
        top: .3125rem
    }
    .timeline-steps .timeline-step:not(:first-child):before {
        content: "";
        display: block;
        border-top: .25rem solid #FFC107;
        width: 3.8125rem;
        position: absolute;
        right: 7.5rem;
        top: .3125rem
    }
    
    /* Responsive Tablet Footer Border Line */
    .border-line{
        border-top: none;
    }

    /* Responsive Tablet Footer Menu */
    .footer-menu{
        font-size: 1.2rem !important;
    }

    /* Responsive Tablet Footer Link */
    .link{
        font-size: 0.95rem;
    }

    /* Responsive Tablet Footer Border */
    .footer-border{
        border-right: 2px solid black;
    }
}



/* Bootstrap Breakpoints antara >992px */
/* Kode prefix lg */
@media only screen and (min-width: 992px){
    /* Responsive Navbar Menu Font Size */
    #navbarDropdown{
        font-size: 1rem;
    }

    /* Responsive Tablet dan PC Button */
    .btn{
        font-size: 1rem;
    }

    /* Responsive Tablet dan PC Judul */
    .title{
        font-size: 2.5rem!important;;
    }

    /* Responsive Tablet dan PC Text Content */
    .text-content{
        font-size: 1.25rem!important;
    }

    /* Responsive Tablet dan PC Border Line */
    .border-line{
        border-top: none;
    }

    /* Responsive Tablet dan PC Footer Border */
    .footer-border{
        border-right: 2px solid black;
    }

    /* Responsive Tablet dan PC Social Media Text */
    .social-text{
        font-size: 1rem;
    }
}